<!-- Seccion Educación -->
<section class="educacion">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto exp-Lab">
          <h2>EDUCACIÓN</h2>
        </div>
  
        <div class="container">
          <div class="row justify-content-start experiencias">
            <div class="col-4">
              <a href="https://tecnicobelgranof29.edu.ar/" target="_blank"><img src="assets/Img/Logo_IT.png" alt="logo_IT" class="logo_IT"></a><h6>Desde: 1999 – 2004</h6>
              <h6>Banda del Río Salí</h6>
              <h6>Tucumán-Argentina</h6>
            </div>
            <div class="col-8">
              <br>
              <h5>ESTUDIOS SECUNDARIOS:</h5>
              <br>
              <h5>Instituto Técnico Gral. Manuel Belgrano F-29</h5>
              <h5><u>Título: Técnico Mecánico - Electricista</u></h5>
            </div>
          </div>
  
          <div class="row justify-content-start experiencias">
            <div class="col-4">
              <a href="http://www.unt.edu.ar/" target="_blank"><img src="assets/Img/logo_UNT.jfif" alt="logo_UNT" class="logo_UNT"></a><h6>Desde: 2005 – 2023</h6>
              <h6>Tucumán-Argentina</h6>
            </div>
            <div class="col-8">
              <br>
              <h5>ESTUDIOS UNIVERSITARIOS:</h5>
              <h5>Facultad de Ciencias Exactas y Tecnología – Universidad Nacional de Tucumán.</h5>
              <h5>Último año de la carrera, aspirando a la mención de Automatización Industrial. Preparando tésis.</h5>
            </div>
          </div>
  
    </div>
  </div>
</div>
</section>