<!-- Nav bar -->
<nav class="navbar navbar-light bg-light1">
    <div class="container-fluid" style="flex-wrap: initial">
      <a class="navbar-brand" routerLink="/index">
        <img class="logo_Arg_P" src="./assets/Img/APLogo-20-20.png" alt="Logo" />
      </a>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <a class="nav-link" href="https://www.facebook.com/luis.juarez.1293575" target="_blank">
            <button class="btn btn-dark btn-lg" type="submit">
              <i class="fa-brands fa-github"></i>
            </button>
          </a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="https://www.instagram.com/luis_antonij/" target="_blank">
            <button class="btn btn-dark btn-lg" type="submit">
              <i class="fa-brands fa-instagram"></i>
            </button>
          </a>
        </li>

        <li class="list-group-item">
          <a class="nav-link" href="https://www.linkedin.com/in/luis-antonio-juarez/" target="_blank">
            <button class="btn btn-dark btn-lg" type="submit">
              <i class="fa-brands fa-linkedin"></i>
            </button>
          </a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="https://www.facebook.com/luis.juarez.1293575" target="_blank">
            <button class="btn btn-dark btn-lg" type="submit">
              <i class="fa-brands fa-facebook"></i>
            </button>
          </a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="#">
            <!-- Boton que envia al login -->
            <button
              class="btn btn-dark btn-lg"
              type="submit">
              <a routerLink="/login"><i class="fa-solid fa-user-lock text-white"></i></a>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>