<!-- Presentacion  -->
<section class="presentacion">
    <img src="assets/Img/Foto-perfil.jpg" alt="foto" class="rounded-circle img-fluid foto-perfil">
    
    <div class="container acerca-de-mi">
      <div class="row">
        <div class="col-3 mt-4">
          <h3 class="font-weight-bold"><b>Acerca de mi</b></h3>
        </div>
        <div class="col-8 mt-3">
          
          <h4><b>
            Soy estudiante de ingenieria electrónica de la FACET-UNT, con título secundario de técnico mecánico electricista, actualmente mi trabajo es reparaciones de aires acondicionados, donde puedo implementar una de mis pasiones que sería la electrónica.</b>
          </h4>
          <h4><b> En ingenieria la rama de programación para mi siempre fue una de las curiosidades pendientes, y pretendo ensamblar con mis conocimientos adquiridos sobre microcontroladores.</b></h4>
        
        </div>
      </div>
    </div>
    </section>