<!-- Experiencia laboral -->
<section class="experiencia_lab">

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto exp-Lab">
          <h2>Experiencia laboral</h2>
        </div>
    </div>
  </div>
    <div class="container">
      <div class="row justify-content-start experiencias">
        <div class="col-4">
          <a href="https://www.google.com/maps/place/Pol+Ambrosio+y+Cia+Sa/@-26.7890431,-65.1261349,15z/data=!4m6!3m5!1s0x94225f85cb9941ef:0xb487bcfb1d36fdb7!8m2!3d-26.7890431!4d-65.1261349!16s%2Fg%2F1wn_75k7" target="_blank">Pol Ambrosio y Cia Sa</a><h6>Actualmente TNPLATEX</h6><h6>Parada anual 2007</h6>
        </div>
        <div class="col-8">
          <h5>Contratado a travéz de <a href="https://baytongroup.com/" target="_blank">BytonGroup</a></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>• Puesto: Mecánico - Mantenimiento eléctrico y mecánico</h5></li>
          </ul>
        </div>
      </div>
  
      <div class="row justify-content-start experiencias">
      <div class="col-4">
       <a href="https://www.facet.unt.edu.ar/" target="_blank"><img src="assets/Img/LOGO-FACET.png" alt="Logo Facet" class="logo-Facet"></a><a href="http://www.unt.edu.ar/" target="_blank"><h6>UNIVERSIDAD NACIONAL DE TUCUMÁN</h6></a>
       <h6>Desde: Nov. 2019 – Abril 2023</h6>
      </div>
      <div class="col-8">
        <h4><u>Ayudante de Cátedra de Sistemas de Control</u></h4>
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5>• Mantenimiento del laboratorio de control.</h5></li>
          <li class="list-group-item"><h5>• Análisis de aprendizaje de los alumnos.</h5></li>
          <li class="list-group-item"><h5>• Consultoría, mentoría, acompañamiento individual y grupal.</h5></li>
        </ul>
      </div>
    </div>
  
    <div class="row justify-content-start experiencias">
      <div class="col-4">
        <img src="assets/Img/Logo_tecnico.png" alt="Logo_Tecnico" class="logo_tec">
        <h6>Más de 10 años de experiencia.</h6> 
      </div>
      <div class="col-8">
        <h5><u>Técnico:</u> Electrónico / Electricista</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5>•	Mantenimiento y reparación de Aires Acondicionados domiciliarios.</h5></li>
          <li class="list-group-item"><h5>• Manejo de instrumental.</h5></li>
          <li class="list-group-item"><h5>•	Pequeños automatismos, tableros de mando, potencia.</h5></li>
          <li class="list-group-item"><h5>•	Mantenimiento y reparación de equipos electrónicos.</h5></li>
        </ul>
      </div>
    </div>
    </div>
  </section>
