<section class="habilidades">
    <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-auto mt-4">
        <h2 class="hard_soft"><u>HARD & SOFT SKILLS</u></h2>
      </div>
    </div>
    </div>
    <div class="container text-center mt-4">
        <div class="row justify-content-center">
        <div class="col-4"></div>
        <div class="col-10">
          <h3>HTML</h3>
      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 80%">80%</div>
      </div>
        </div>
      </div>
  
      <div class="row justify-content-center mt-4">
        <div class="col-4"></div>
        <div class="col-10">
          <h3>CSS</h3>
      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 50%">50%</div>
      </div>
        </div>
      </div>
  
      <div class="row justify-content-center mt-4">
        <div class="col-4"></div>
        <div class="col-10">
          <h3>JAVASCRIPT</h3>
      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 50%">50%</div>
      </div>
        </div>
      </div>
  
      <div class="row justify-content-center mt-4">
        <div class="col-4"></div>
        <div class="col-10">
          <h3>ANGULAR</h3>
      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 30%">30%</div>
      </div>
        </div>
      </div>
  
      <div class="row justify-content-center mt-4">
        <div class="col-4"></div>
        <div class="col-10">
          <h3>APRENDIZAJE AUTOMÁTICO</h3>
      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 80%">80%</div>
      </div>
        </div>
      </div>
  
      <div class="row justify-content-center mt-4">
        <div class="col-4"></div>
        <div class="col-10">
          <h3>ADAPTABILIDAD</h3>
      <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 80%">80%</div>
      </div>
        </div>
      </div>
        
    </div>
  
  </section>
