<!-- Nav bar -->
<nav class="navbar navbar-light bg-light1">
  <div class="container-fluid" style="flex-wrap: initial">
    <a class="navbar-brand" routerLink="/index">
      <img class="logo_Arg_P" src="/assets/Img/APLogo-20-20.png" alt="Logo" />
    </a>
    <ul class="list-group list-group-horizontal">
       
      <li class="list-group-item">
        <a class="nav-link" routerLink="/login">
          <!-- Boton que envia al login -->
          <button
            class="btn btn-dark btn-lg"
            type="submit">
            <a routerLink="/login"><i class="fa-solid fa-user text-white"></i></a>
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>

<app-barra-lateral></app-barra-lateral>